:root {
  --bg-color: #fafafa;
  --bg-hover-color: #f0f0f0;
  --text-color: #000000;
  --a-hover-color: #D4AF37;
}

.dark-mode {
  --bg-color: #070707;
  --bg-hover-color: #1a1a1a;
  --text-color: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Genel Ayarlar */
body {
    background-color: var(--bg-color) !important;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--a-hover-color);
}

.form-control{
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.form-control:focus{
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.list-group{
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.table{
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}

.text-dark{
    color: var(--text-color) !important;
}

label {
    color: var(--text-color);
}

small {
    color: var(--text-color);
}

::placeholder {
    color: var(--text-color);
}

h4, h5, h6 {
    color: var(--text-color);
}

.modal-content {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}
.btn-primary.active,
.btn-primary:active {
    background-color: #f8efd6;
    border-color: #f0cb6f;
    box-shadow: 0 0 0 2.1px rgb(0 0 0)
}
.btn-primary{
    background-color: #e0b038 !important;
    color: #000 !important;
    border-color: #e0b038 !important;
}

.btn-primary:hover{
    background-color: #c99c2a !important;
    color: #000 !important;
}

.profile-menu-container .accordion-item{
    background-color: transparent;
    border: none;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: rgb(226 184 93 / 8%);
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0b038;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ca9e2e;
}
